.sample-release-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #001a4d;
    color: #ffffff;
    gap: 20px;
}

.sample-release-component-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 30px;
}

.sample-release-component-table {
    background-color: #002266;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    overflow-x: auto;
}

#sample-release-table,
#sample-release {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9rem;
}

#sample-release-table th,
#sample-release-table td,
#sample-release th,
#sample-release td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

#sample-release-table th,
#sample-release th {
    font-weight: 600;
}

/* utility */
.hidden { 
    display: none !important;
}

.view-released-tests,
.submit-released-test,
#close-test-release-details {
    padding: 6px 12px;
    background-color: #00004d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}
.view-released-tests:hover,
.submit-released-test:hover,
#close-test-release-details:hover {
    background-color: #000066;
    cursor: pointer;
    transform: scale(1.05);
}