.sample-review-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #001a4d;
    color: #ffffff;
    gap: 20px;
}

.sample-review-component-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 30px;
}

.sample-review-component-table {
    background-color: #002266;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    overflow-x: auto;
}

#sample-review-table,
#sample-review {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9rem;
}

#sample-review-table th,
#sample-review-table td,
#sample-review th,
#sample-review td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

#sample-review-table th,
#sample-review th {
    font-weight: 600;
}

/* utility */
.hidden { 
    display: none !important;
}

.submit-review-test,
#close-test-review-details,
.view-tests {
    padding: 6px 12px;
    background-color: #00004d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}
.submit-review-test:hover,
#close-test-review-details:hover,
.view-tests:hover {
    background-color: #000066;
    cursor: pointer;
    transform: scale(1.05);
}