.sample-deviation-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #001a4d;
    color: #ffffff;
    gap: 20px;
}

.sample-deviation-component-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0px 30px 0px;
}

.sample-deviation-component-samples-table {
    background-color: #002266;
    padding: 20px;
    border-radius: 15px;
}

#samples-deviation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9rem;
}

#samples-deviation-table th,
#samples-deviation-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

#samples-deviation-table th,
#samples-deviation-table td {
    font-weight: 600;
}

.view-deviation-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-tests-deviations{
    background-color: #00004d;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.view-tests-deviations:hover {
    background-color: #000066;
    transform: scale(1.05);
}

.hidden {
    display: none;
}
.sample-deviation-component-deviation-details {
    display: block;
}

/* Deviation form */
#deviation-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.deviation-details-part-1, .deviation-details-part-2,
.deviation-details-part-3, .deviation-details-part-4,
.deviation-details-part-5, .deviation-details-part-6,
.deviation-details-part-7, .deviation-details-part-8 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 350px 0px;
}
.button-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px 0px 10px;
}
#deviation-form-close-button, #deviation-form-submit-button,
#deviation-form-save-button {
    background-color: #00004d;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
#deviation-form-close-button:hover, #deviation-form-submit-button:hover,
#deviation-form-save-button:hover {
    background-color: #000066;
    transform: scale(1.05);
}