.container-2-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.container-2-register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-2-register-content-logo {
    color: #333399;
    margin-bottom: 10px;
}

.container-2-register-content-form-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 20px;
}

.container-2-register-content-form-info label {
    color: #131339;
    font-size: 16px;
}

.container-2-register-content-form-info input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid grey;
    font-size: 16px;
}

.container-2-register-content-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 25px;
}

#register-button, #login-button-page {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #000033;
    color: #ffffff;
}

#register-button:hover, #login-button-page:hover {
    transform: scale(1.05);
    cursor: pointer;
}