.container-2 {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px;
    gap: 40px;
}

.container-2-landing-page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0px 40px 0px;
    color: #000033;
}

.container-2-landing-page-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 50px;
}

#get-started-btn, #account-login-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #000033;
    color: #ffffff;
}
#get-started-btn:hover, #account-login-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container-2-landing-page-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}