.container-1 {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #0047b3;
}