<div class="pending-deviations-component">
    <div class="pending-deviations-component-top-bar">
        <h1>Pending Deviations</h1>
    </div>
    <div class="pending-deviations-component-table">
        <table id="pending-deviations-table">
            <thead>
                <tr>
                    <th>Deviation Code</th>
                    <th>Sample Name</th>
                    <th>Test Name</th>
                    <th>Deviation Date</th>
                    <th>Department</th>
                    <th>View</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="pending-deviations-component-details hidden" id="pending-deviations-component-details"></div>
</div>