<div class="sample-creation-component">
    <div class="sample-creation-component-top-bar">
        <button id="sample-creation-component-create-samples">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
            </svg>
            <span style="font-size:16px;">Create Samples</span>
        </button>
    </div>
    <div class="container-2-sample-creation-form">
        <div class="sample-creation-form-hidden" id="sample-creation-form">
            <div class="container-2-sample-name-input">
                <input type="text" id="sample-name-input" placeholder="Enter sample name">
            </div>
            <div class="test-selection">
                <label><input type="checkbox" value="identification"> Identification</label>
                <label><input type="checkbox" value="assay"> Assay</label>
                <label><input type="checkbox" value="dissolution"> Dissolution</label>
                <label><input type="checkbox" value="content_uniformity"> Content Uniformity</label>
                <label><input type="checkbox" value="individual_impurity"> Individual Impurity</label>
                <label><input type="checkbox" value="total_impurities"> Total Impurities</label>
                <label><input type="checkbox" value="microbial_limit_TAMC"> TAMC</label>
                <label><input type="checkbox" value="microbial_limit_TYMC"> TYMC</label>
                <label><input type="checkbox" value="water_content"> Water Content</label>
            </div>
            <div class="sample-creation-complete-btn">
                <button id="sample-creation-complete">Create Sample</button>
            </div>
        </div>
    </div>
</div>