<div class="sample-creation-component">
    <div class="sample-creation-component-top-bar">
        <button id="sample-creation-component-create-samples">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
            </svg>
            <span style="font-size:16px;">Create Samples</span>
        </button>
        <button id="sample-creation-component-add-test">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack" viewBox="0 0 16 16">
                <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z"/>
                <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z"/>
            </svg>
            <span>Add Test</span>
        </button>
    </div>
    <div class="container-2-sample-creation-form">
        <div class="sample-creation-form-hidden" id="sample-creation-form">
            <div class="container-2-sample-name-input">
                <input type="text" id="sample-name-input" placeholder="Enter sample name">
            </div>
            <div class="test-selection">
                <label><input type="checkbox" value="identification"> Identification</label>
                <label><input type="checkbox" value="assay"> Assay</label>
                <label><input type="checkbox" value="dissolution"> Dissolution</label>
                <label><input type="checkbox" value="content_uniformity"> Content Uniformity</label>
                <label><input type="checkbox" value="individual_impurity"> Individual Impurity</label>
                <label><input type="checkbox" value="total_impurities"> Total Impurities</label>
                <label><input type="checkbox" value="microbial_limit_TAMC"> TAMC</label>
                <label><input type="checkbox" value="microbial_limit_TYMC"> TYMC</label>
                <label><input type="checkbox" value="water_content"> Water Content</label>
            </div>
            <div class="sample-creation-complete-btn">
                <button id="sample-creation-complete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack-overflow" viewBox="0 0 16 16">
                        <path d="M12.412 14.572V10.29h1.428V16H1v-5.71h1.428v4.282z"/>
                        <path d="M3.857 13.145h7.137v-1.428H3.857zM10.254 0 9.108.852l4.26 5.727 1.146-.852zm-3.54 3.377 5.484 4.567.913-1.097L7.627 2.28l-.914 1.097zM4.922 6.55l6.47 3.013.603-1.294-6.47-3.013zm-.925 3.344 6.985 1.469.294-1.398-6.985-1.468z"/>
                    </svg>
                    <span>Create Sample</span>
                </button>
            </div>
        </div>
    </div>
</div>