<div class="sample-deviation-component">
    <div class="sample-deviation-component-top-bar">
        <h1>Sample Deviation</h1>
    </div>
    <div class="sample-deviation-component-samples-table">
        <table id="samples-deviation-table">
            <thead>
                <tr>
                    <th>Sample Name</th>
                    <th>Test Name</th>
                    <th>Test Result</th>
                    <th>Spec Upper Limit</th>
                    <th>Spec Lower Limit</th>
                    <th>Units</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="sample-deviation-component-deviation-details hidden" id="sample-deviation-component-deviation-details">
    </div>
    <div class="deviation-retest-form hidden" id="deviation-retest-form">
        <div id="deviation-retest-title"></div>
        <table id="deviation-retest-table">
            <thead>
                <tr>
                    <th>Test Name</th>
                    <th>Test Result</th>
                    <th>Spec Upper Limit</th>
                    <th>Spec Lower Limit</th>
                    <th>Units</th>
                    <th>Status</th>
                    <th>Submit Data</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div style="display: flex; justify-content: center; align-items: center; width:100%; margin-top: 30px;">
            <button id="close-deviation-test-details">
                Close Test Details
            </button>
        </div>
    </div>
</div>